body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,#00ffff,#ff00c3);
}

.container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.container h1{
    text-decoration: none;
    margin-bottom: 10px;
    background: linear-gradient(90deg,#230bf9,#dc5d0f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#download-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#download-btn:hover {
    background-color: #3e8e41;
}