* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: linear-gradient(90deg,#00ffff,#ff00c3);
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
.header h2{
	background: linear-gradient(90deg,#d4c30e,#020509);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: linear-gradient(90deg,#00ffff,#ff00c3);
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.input-group .user{
	border-radius: 30px;
}
.input-group .pass{
	border-radius: 30px;
}
.input-group .remail{
	border-radius: 30px;
}
.input-group .rpass{
	border-radius: 30px;
}
.input-group .rcpass{
	border-radius: 30px;
}
.input-group .ruser{
	border-radius: 30px;
}
.next-page-arrow {
	font-size: 24px;
	color: #333;
	text-decoration: none;
  }
  
  .next-page-arrow:hover {
	color: #666;
  }
  .next-page-arrow img {
	max-width: 48px;
	max-height: 48px;
	margin-right: 10px;
  }